/* CORES */ 
:root{
  --cor-fundo: #1e2749;
  --cor-secundaria:#fafaff;
  --cor-letra:#30343f;
  --cor-titulo:#1e2749;
  --cor-hover:#d79ff3;
  --cor-hover-div:#e4d9ff1f;
  --cor-msg-copiado: #69c24b;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

body {
  font-family: Arial, sans-serif;
  font-size: 12pt;
  margin: 0;
  max-height: max-content;
  padding: 20px;
  background-color: var(--cor-fundo);
  display: flex;
  justify-content: center;
  z-index: 2;
  background: url(img/bg-2.jpg) no-repeat center fixed;
  background-size: cover;

}
#msgCopiado {
  background-color: var(--cor-msg-copiado);
  position: absolute;
  font-weight: bold;
  text-shadow: #ffffffa5 1px 1px 3px;
  width: 200px;
  height: 30px;
  text-align: center;
  padding: 3px;
  box-shadow: rgba(0, 0, 0, 0.371) 1px 2px 3px;
  z-index: 1;
  top: 1%;
  left: 2%;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  animation: 3s fadeInOut ease-in-out;
  
}

.container {
  max-width: max-content;
  max-height: max-content;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 3em;
  
  background-image: linear-gradient(120deg, #fdfbfbf1 0%, #ebedeedd 100%);  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 15px rgb(255, 255, 255);
  position: absolute;


}



.theme {
  display: flex;
  flex-direction: column;
  text-align: center;
}
h2 {
  text-shadow: rgba(0, 0, 0, 0.481) 2px 1px 2px;
  color: var(--cor-titulo);
}
.title {
  font-weight: bold;
  cursor: pointer;
  color: var(--cor-letra);
  margin-bottom: 10px;
  display: inline-block;
}
.title:hover {
  background: rad-gradient(to right, var(--cor-hover-div));
  color: var(--cor-hover);
  text-shadow: rgba(0, 0, 0, 0.432) 1px 1px 1px;
}