body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
}
.container {
  max-width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 3em;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.theme {
 display: flex;
 flex-direction: column;
 text-align: center;
}
.title {
  font-weight: bold;
  cursor: pointer;
  color: #007bff;
  margin-bottom: 10px;
  display: inline-block;
}
